body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}


/* container
=============*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header
=============*/

.header {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;

    position: fixed;

    background-color: #31344e;
}

.header.fixed .header__inner{
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 0;



}

.header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    padding: 35px 0;
    align-items: center;
}


/* Nav
=============*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity .2sleaner;
}

.nav__link:first-child {
    margin-left: 0px;
}

.nav__link:hover {
    opacity: 1;
}


/* Intro
=============*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    height: 750px;
    background: #31344e url(img/intro-bg.jpg.png) center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__subtitle {
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 60px;
}


/* Button
=============*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1sliner;
    text-align: center;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #d62c2c;
}

.btn--long {
    min-width: 280px;
}


/* Features
=============*/

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
    ;
}

.feautures__item {
    margin: 25px 0;
    padding: 0 40px;
    width: 33.33333%;
    text-align: center;
}

.features__icon {
    margin-bottom: 25px;
}

.features__title {
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.features__text {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}


/*Works
============*/

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    position: relative;
    overflow: hidden;
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 84, 83, 0.9);
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .2s linear;
}

.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
    color: #fff;
}


/*Team
=============*/

.team {
    margin: 100px 0 70px;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team__name {
    margin-bottom: 8px;
    font-size: 22px;
    color: #2d3033;
}

.team__prof {
    margin-bottom: 15px;
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}

.team__text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}


/*Social
=============*/

.social {
    display: flex;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    background-color: #fff;
    border: 1px solid #e8ecee;
    transition: background .1s linear;
}

.social__link:hover {
    background-color: #e8ecee;
}

.social__link:hover .social__icon {
    fill: #000;
}

.social__icon {
    display: block;
    height: 18px;
    fill: #c6cacc;
    transition: background .1s linear;
}

.social--footer {
    justify-content: center;
}

.social--footer .social__link {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social--footer .social__link:hover {
    background-color: #fff;
}

.social--footer .social__icon {
    fill: #fff;
}


/*Reviews
=============*/

.reviews {
    background-color: #53354a;
    overflow: hidden;
}
reviews__slider {
    height: 500px;
    overflow: hidden;
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.reviews__text {
    margin-bottom: 20px;
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
}

.reviews__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}


/*Download
=============*/

.download {
    margin: 90px 0;
    text-align: center;
}

.download__title {
    margin-bottom: 10px;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
}

.download__text {
    margin-bottom: 30px;
    font-size: 13px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}


/*Footer
=============*/

.footer {
    background-color: #3a3e64;
}

.footer__inner {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer__block {
    width: 33.33333%;
    text-align: center;
    padding: 0 15px;
}

.footer__title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.footer__address {
    line-height: 1.5;
    font-size: 14px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);
}

.footer__text {
    line-height: 1.5;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}


/*Copyright
=============*/

.copyright {
    padding: 20px 0;
    background-color: #313454;
}

.copyright__text {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #808080;
}

.copyright__text span {
    color: #fff;
}

/*Burger*/

.burger {
display: none;
}


/*Media
=============*/

@media (max-width: 991px) {

    /*Nav*/
    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: right;

        position: absolute;
        top: 100%;
        right: 0;
         background-color: #31344e;
    }
    .nav.show {
        display: flex;
    }

    .nav__link {
        padding: 9px 15px;

    }

    /*Burger*/
    .burger {
        display: block;
    }

    .burger__item {
        display: block;
        width: 30px;
        height: 3px;

        background-color: #fff;
        position: relative;
    }

    .burger__item:before,
    .burger__item:after  {
        content: "";
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        z-index: 1;
    }

    .burger__item:before {
        top: -8px;
    }
    .burger__item:after {
        bottom: -8px;
    }






    /*intro*/
    .intro__title {
        font-size: 40px;
    }
}


@media (max-width: 767px) {

    /*intro*/
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }
     .intro__title {
        font-size: 40px;
    }

    .intro__subtitle {
        margin-bottom: 30px;

        font-size: 16px;
    }

}





















